@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
    .wallpaper {
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background: rgb(131, 128, 128);
        background-image: url("/img/math-wallpaper.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(4px);
    }

    .calculator {
        width: 320px;
        border-radius: 5px;
        padding: 8px;
        background: black;
        box-shadow: 0px 0px 6px 8px rgba(204, 204, 204, 0.75);
        border: 1px solid gray;

        .display {
            font-family: 'VT323', monospace;
            width: 100%;
        
            .history {
                text-align: right;
                font-weight: bold;
                font-size: 26pt;
                color: chocolate;
                overflow: auto;
            }
        
            .input {
                text-align: right;
                font-weight: bold;
                font-size: 36pt;
                color: white;
                overflow: auto;
            }
        }

        .pad {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 8px;
            row-gap: 8px;
            margin: 8px 0;

            @mixin button($background, $shadow) {
                font-size: 2.2rem;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                padding: 0;
                border: none;
                border-radius: 5px;
                background: $background;
                box-shadow: 0px 4px 0px 0px $shadow;
                transition: .3s;
                color: black;

                &:hover {
                    filter: brightness(120%);
                }

                &:focus {
                    outline: none;
                }

                &:active {
                    filter: brightness(150%);
                }
            }

            .numeric {
                $background: #90a4ae;
                $shadow: #6b8694;
                @include button($background, $shadow);
            }

            .operator {
                $background: #546e7a;
                $shadow: #3f525a;
                @include button($background, $shadow);
            }

            .result {
                $background: #4caf50;
                $shadow: #3e8e41;
                @include button($background, $shadow);
            }

            .clear {
                $background: #f44336;
                $shadow: #c2160a;
                @include button($background, $shadow);
            }
            
            .interface {
                $background: #ff9800;
                $shadow: #cc7a00;
                @include button($background, $shadow);
            }

            .extra {
                $background: #0070c0;
                $shadow: #005897;
                @include button($background, $shadow);
                color: white;
            }
        }
    }
}